/*============= Global ==============*/
html {
  --color-background-page: rgb(190, 190, 190);
  --color-background: #f8f2ef ;
  --color-black: rgb(17, 9, 9);
  --color-white: rgb(245, 245, 245) ;
  --color-font: rgb(60, 60, 60);
  /*--color-primari: rgba(255, 179, 132, .9);*/
  /*--color-primari: rgb(228, 96, 8);*/
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: border-box; }
h1, h2, h3, p { padding: 0; margin: 0; }
li { list-style: none; padding: 0; display: inline;}
ul { padding: 0; }

:root { font-size: 10px; }

body {
  margin: 0;

  font-family: 'El Messiri', sans-serif;
  font-size: 1.4rem;
  /*font-variant: small-caps;*/

  background-color: var(--color-background-page);
  color: var(--color-font) ;
}

.sr-only { /* esconde textos e itens de uso semantico para leitores de tela */

  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;

}

/*============= Header ==============*/
header {
  height: 20rem;
  background-color: rgb(0, 80, 0);
  color: var(--color-white);
  text-align: center;
  padding-top: 4rem;

}

#logo {
  font-weight: 400;
}

/*============= Main ==============*/

.container {
  width: 80vw;
  margin: auto;
}

/*============= Balance ==============*/
#balance {
  margin-top: -6rem;
  padding-bottom: 1rem;

}

#balance > h2 {
  color: var(--color-white);
}

/*============= CARDs ==============*/
#balance .card {
  background-color: var(--color-background);

  border-radius: .3rem;
  margin-bottom: 2rem;
  padding: 2rem;

  box-shadow: 3px 3px 5px 1px rgba(34, 34, 34, .5);
   
}

#balance .card:last-child {
  /*margin-bottom: 4rem;*/
}

#balance .card.-total {
  background-color: rgb(24, 150, 24);
  color: var(--color-white);
}

#balance .card h3{
  font-size: 1.6rem;
  margin-bottom: .8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#balance .card h3::after {
  content: '';
  width: 2.5rem;
  height: 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.5rem;
}

#balance .card.-income  h3::after {
  background-image: url(./assets/income.svg);
}

#balance .card.-expense  h3::after {
  background-image: url(./assets/expense.svg);
}

#balance .card.-total  h3::after {
  background-image: url(./assets/total.svg);
}

#balance .card p{
  font-size: 2.5rem;
  font-weight: 500;
}

/*============= Transaction ==============*/

#transaction {
  display: block;
  width: 100%;
}

#transaction .button.new {
  display: inline-block;
  margin-bottom: .8rem;
  text-decoration: none;
  color: rgb(24, 150, 24);
  font-weight: 700;
  font-size: 1.6rem;
}

#transaction .button.new:hover {
  color: rgb(2, 83, 2);
}

/*============= Table ==============*/

#data-table {
  /*background-color: hotpink;*/

  width: 100%;
  border-spacing: 0 .5rem;
  margin-bottom: 6rem; 
  overflow-x: auto;
}

#data-table tr {
  background-color: var(--color-background);
  cursor: pointer;
}
#data-table tbody tr {
  opacity: .7;
}

#data-table tr:hover {
  opacity: 1;
}

#data-table th, td {
  text-align: left;
  padding: 1rem 2rem;
}

#data-table th:first-child {
  border-radius: .5rem 0 0 0;
}
#data-table th:last-child {
  border-radius: 0 .5rem 0 0;
}

/* #data-table td:first-child {
  border-radius: .5rem 0 0 .5rem;
}

#data-table td:last-child {
  border-radius: 0 .5rem .5rem 0;
} */

#data-table tr:last-child td:first-child {
  border-radius: 0 0 0 .5rem;
}

#data-table tr:last-child td:last-child {
  border-radius: 0 0 .5rem 0;
}

#data-table .expense {
  color: red;
}

#data-table .income {
  color: green;
}

/*============= Footer ==============*/
footer {
  text-align: center;
  opacity: .6;
  margin: 2rem 0;
}

/*============= Modal ==============*/

.modal-overlay {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgba(0, 0, 0, .6);

  opacity: 0;
  visibility: hidden;
}

.modal-overlay.-active {
  opacity: 1;
  visibility: visible;
}

.modal-overlay .modal {
  /*width: 40rem;
  height: 30rem;*/
  background-color: var(--color-background);
  padding: 3rem;
}

/*============= Form ==============*/

.form form input {
  border: none;
  padding: 1rem;
  width: 100%;
  
}

.form .input-group {
  margin-bottom: 1rem;
}

.form .input-group.actions {
  width: 100%;
  height: 4rem;
  /*background-color: cadetblue;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  
}

.input-group.actions .button {
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.6rem;
}

.input-group.actions .button.cancel {
  border: #e92929 2px solid;
  color: #e92929;
  text-decoration: none;
  
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: .6;
}

.input-group.actions .button.cancel:hover {
  opacity: 1;
}

.input-group.actions .button.save {
  background-color: #49aa29;
  border: none;
  color: var(--color-white);
}

.input-group.actions .button.save:hover {
  background-color: #38d105;
}



/*============= Responsive ==============*/

@media (min-width: 800px) {

  #balance {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
  }
  
}

@media (max-width: 520px) {
  #data-table {
    display: block;
  }
}